<footer class="site-header" role="banner">
  <div class="wrapper">
    <div class="flex w-100 justify-between bt bg-black">
      <a href="mailto:matthewbehantaylor@gmail.com" class="items-center pa3 link b f4 fw5 fl dim white lh-solid">hi@helloimmatt.com</a>
      <div class="cf"></div>
      <div class="flex-grow pa3 flex items-center">
        <a href="/language/" title="Language" class="twitter-blue fw5 f5 link dib dim ml3 ml4-ns">Twitter</a>
        <a href="/terms/"    title="Terms" class="linkedin-blue fw5 f5 link dib dim ml3 ml4-ns">LinkedIn</a>
        <a href="/privacy/"  title="Privacy" class="dribbble-pink fw5 f5 link dib dim ml3 ml4-ns">Dribbble</a>
        <a href="/privacy/"  title="Privacy" class="medium-green fw5 f5 link dib dim ml3 ml4-ns">Medium</a>
        <a href="/privacy/"  title="Privacy" class="github-light-grey fw5 f5 link dib dim ml3 ml4-ns">GitHub</a>
      </div>
    </div>
  </div>
</footer>





<!--<footer class="ph3 ph3-ns pv3 bt b--black-10 black-70 justify-between">
  <a href="mailto:matthewbehantaylor@gmail.com" class="link b f4 fl f3-ns dim black-70 lh-solid">hi@helloimmatt.com</a>
  <div class="flex-grow">
    <a href="/language/" title="Language" class="f6 dib pr2 mid-gray dim">Twitter</a>
    <a href="/terms/"    title="Terms" class="f6 dib ph2 mid-gray dim">LinkedIn</a>
    <a href="/privacy/"  title="Privacy" class="f6 dib pl2 mid-gray dim">Dribbble</a>
    <a href="/privacy/"  title="Privacy" class="f6 dib pl2 mid-gray dim">Medium</a>
    <a href="/privacy/"  title="Privacy" class="f6 dib pl2 mid-gray dim">GitHub</a>
  </div>
</footer>
