<footer>
  <div class="db dt-l w-100 border-box ph3 pv4 bg-black">
    <div class="dn dt-l v-mid f6 tc pt1">
      <p class="v-mid mv0 f6 fw5 gray">© 2018 | Proudly built on my couch.</p>
    </div>
    <div class="cf"></div>
    <div class="db dtc-l w-100 w-75-l tc tr-l pt1">
      <a href="mailto:matthewbehantaylor@gmail.com" class="w-100 w-auto-ns fw5 f5 link dib dim mb3 mb0-ns white">matthewbehantaylor@gmail.com</a>
      <a href="https://twitter.com/mattchewtaylor" class="w-100 w-auto-ns fw5 f5 link dib dim mb3 mb0-ns ml0 ml4-ns twitter-blue">@mattchewtaylor</a>
      <a href="https://dribbble.com/mattchewtaylor" class="w-100 w-auto-ns fw5 f5 link dib dim ml0 ml4-ns dribbble-pink">/mattchewtaylor</a>
    </div>
  </div>
</footer>
