<div class="dtc w3 w3-ns v-mid">
  <img src="https://pbs.twimg.com/profile_images/915335500805918720/yYT_IfPs_400x400.jpg" class="db br-100 w3 w3-ns h3 h3-ns"/>
</div>
<div class="dtc v-mid pl3">
  <h1 class="f5 fw6 lh-title black mv0">Matt Taylor</h1>
  <a class="link dim blue f6 fw4 mt0 mb0 pointer" href="https://twitter.com/mattchewtaylor" target="_blank">@mattchewtaylor</a>
</div>

<div class="mt5 pt5 measure-wide center tc bt bt b--light-gray">
  <div class="w-100">
    <a class="br-pill bg-moon-gray ph3 pv2 black fw5 f5 link dib" href="{{ "/" | relative_url }}">About</a>
    <a class="br-pill bg-near-white ph3 pv2 black f5 fw5 link dib bg-animate hover-bg-light-gray" href="{{ "/writing/" | relative_url }}">Writing <span>→</span></a>
  </div>
</div>
