<div class="mt5">
  <div class="dtc w3 w3-ns v-mid">
    <img src="https://pbs.twimg.com/profile_images/915335500805918720/yYT_IfPs_400x400.jpg" class="br-100 pa1 ba b--light-gray h3 w3" alt="Picture of Matt Taylor"/>
  </div>
  <div class="dtc v-mid pl3">
    <h1 class="f5 fw6 lh-title black mv0">Thanks for reading!</h1>
    <p class="f5 fw5 mt0 mb0">Matt Taylor</p>
  </div>
  <p class="mt3 i f5">PS: If you're not a fan of the experience on my blog, head over to <a class="medium-green fw5 dim link-underline" href="https://medium.com/@mattchewtaylor">Medium</a> and throw me a follow to stay up to date with all of my shenanigans.</p>
</div>

<div class="mt5 pt5 tc bt bt b--light-gray">
  <div class="w-100">
    <a class="br1 bg-near-black bg-animate hover-bg-black ph3 pv2 white f5 fw5 link dib" href="{{ "/writing/" | relative_url }}">← Read more stuff</a>
  </div>
</div>
