---
# Only the main Sass file needs front matter (the dashes are enough)
---
@import "tachyons.min.css";

/* normalize */
html { margin: 0; padding: 0; font-family: sans-serif; }

/* overrides */
p, .f5 { font-size: 18px; }
.front { z-index: 9999; }
.header-fix { padding-top: 77px; }

/* addons */
.sans-serif { font-family: -apple-system,BlinkMacSystemFont,"Helvetica Neue",Helvetica,sans-serif; }
.link-underline { border-bottom: 1px dotted rgba(0,0,0,.2); padding-bottom: .1rem; text-decoration: none; }
/* custom colors */
.custom-purple { color: #6e00ff; }
.bg-custom-purple { background-color: #6e00ff; }
.hover-bg-custom-purple:hover, .hover-bg-custom-purple:focus { background-color: #5003b8; }
/* custom gradient */
.bg-custom-purple-gradient {
  background: #6e00ff;
  background-image: -webkit-linear-gradient(top, #6e00ff, #5003b8);
  background-image: -moz-linear-gradient(top, #6e00ff, #5003b8);
  background-image: -ms-linear-gradient(top, #6e00ff, #5003b8);
  background-image: -o-linear-gradient(top, #6e00ff, #5003b8);
  background-image: linear-gradient(to bottom, #6e00ff, #5003b8); }
/* social colors */
.twitter-blue { color: #1da1f2; }
.linkedin-blue { color: #0077b5; }
.fundrise-orange { color: #f47735 }
.illustria-red { color: #ea1d2c }
.dribbble-pink { color: #ea4c89 }
.instagram-purple { color: #ec0086 }
.medium-green { color: #02b875 }
.github-grey { color: #24292e }
.github-light-grey { color: #c6cbd1 }

/* page fade */
@-webkit-keyframes fade { from{opacity: 0} to {opacity: 1} }
@keyframes fade fade { from{opacity: 0} to {opacity: 1} }
.fade-body { -webkit-animation: fade 1s ease-in-out }
