---
layout: default
---

<div class="home">

  {{ content }}

  <div class="pa3 pa5-ns">
    <div class="list pl0 measure-wide center">
      {% for post in site.posts %}
      <span class="fl w-10 pa0 mt5 f3">📝</span>
      <a class="db no-underline black dim" href="{{ post.url | relative_url }}">
        <div class="fl w-90 ba bl-0 bt-0 br-0 b--light-gray pointer">
          <h1 class="f3 pa0 mt5 mb0">
            {{ post.title | escape }}
          </h1>
          <div class="fs-normal lh-copy mid-gray">
            {{ post.excerpt }}
          </div>
          {% assign date_format = site.date_format | default: "%b %-d, %Y" %}
          <span class="f6 no-underline br-pill ph2 pv1 mb4 dib white bg-yellow">{{ post.date | date: date_format }}</span>
        </div>
      </a>
      {% endfor %}
    </div>

    <div class="cf"></div>

  </div>
</div>
