---
layout: default
---

<div class="home">

  {{ content }}

  <div class="ph3 pv5">
    <div class="measure-wide center">
      <!-- row 1 -->
      <span class="fl w-10 mt0 f3">👋</span>
      <h1 class="f3 fl w-90 mt0">Hello! I'm Matt.</h1>

      <!-- row 2 -->
      <span class="fl w-10 mt5 f3">🤓</span>
      <p class="lh-copy mid-gray fl w-90 mt5">I'm a multidisciplinary designer and strategist with 5+ years of experience in UX, visual design, and code. I'm currently with the product team at <a class="fundrise-orange fw5 dim link-underline" href="https://fundrise.com/" target="_blank">Fundrise</a> making the world of private market real estate investing more accesible, empowering, and enjoyable for the public.</p>

      <!-- row 3 -->
      <span class="fl w-10 mt5 f3">📐</span>
      <p class="lh-copy mid-gray fl w-90 mt5">My path to product started with a BFA in graphic design. Formerly a senior designer at <a class="illustria-red fw5 dim link-underline" href="http://www.illustriadesigns.com/" target="_blank">Illustria</a> where I focused on branding and digital design for clients such as Alaska Airlines, Symphony Commerce, and Jack Links. Check out some of my work on <a class="dribbble-pink fw5 dim link-underline" href="https://dribbble.com/mattchewtaylor" target="_blank">Dribbble</a>.</p>

      <!-- row 4 -->
      <span class="fl w-10 mt5 f3">✏️</span>
      <p class="lh-copy mid-gray fl w-90 mt5">Case studies and thoughts about design, life, and everything in between get thrown into my <a class="custom-gradient-text shine fw5 dim link-underline" href="{{ "/writing/" | relative_url }}">blog</a>. I'll always x-post to <a class="medium-green fw5 dim link-underline" href="https://medium.com/@mattchewtaylor" target="_blank">Medium</a> if that's more your style. Trying to keep it timely but you know how that goes.</p>
      <div class="cf"></div>

      <!-- row 5 -->
      <span class="fl w-10 mt5 f3">💻</span>
      <p class="lh-copy mid-gray fl w-90 mt5">I practice coding wherever and whenever I can. It started as a need to prototype my ideas in the browser but quickly blossomed into a primary interest and hobby. Don't look at my <a class="github-grey fw5 dim link-underline" href="https://github.com/mattchewtaylor" target="_blank">GitHub</a>, though - I'm self conscious.</p>

      <!-- row 6 -->
      <span class="fl w-10 mt5 f3">🏂</span>
      <p class="lh-copy mid-gray fl w-90 mt5">When I'm not doing the design thing, I'm usually planning my next big snowboarding trip, <a class="instagram-purple fw5 dim link-underline" href="https://www.instagram.com/mattchewtaylor/" target="_blank">flying my drone</a>, or getting into trouble with my best friend and partner in crime - <a class="instagram-purple fw5 dim link-underline" href="https://www.instagram.com/p/BR_hG_tlC93/?taken-by=mattchewtaylor" target="_blank">Remi</a>.</p>

      <div class="cf"></div>
    </div>
  </div>
</div>
