---
layout: default
---

<div class="home">

  {{ content }}

  <div class="pa3 pa5-ns">
    <div class="list pl0 measure-wide center">
      {% for post in site.posts %}
      <a class="db mid-gray no-underline hover-black" href="{{ post.url | relative_url }}">
        <div class="lh-copy pt3 pb4 ba bl-0 bt-0 br-0 b--light-gray grow pointer">
          <h1 class="f3">
            {{ post.title | escape }}
          </h1>
          <p class="fs-normal">
            {{ post.excerpt }}
          </p>
          {% assign date_format = site.date_format | default: "%b %-d, %Y" %}
          <span class="f6 no-underline br-pill ph2 pv1 dib white bg-custom-blue">{{ post.date | date: date_format }}</span>
        </div>
      </a>
      {% endfor %}
    </div>
  </div>
</div>
