---
layout: default
---
<div class="home">

  {{ content }}

  <div class="ph3 pv5">
    <div class="measure-wide center">

      <!-- temp alert
      <section class="mb5">
        <article class="center br2 ba b--green bg-washed-green">
          <div class="dt-ns dt--fixed-ns w-100">
            <div class="pa3 pa3-ns dtc-ns v-mid">
              <div>
                <p class="f6 fw5 green measure lh-copy mv0">
                  Currently looking for full-time employment! Colorado or remote.
                </p>
              </div>
            </div>
            <div class="pa3 dtc-ns v-mid">
              <a href="#" class="no-underline f6 tc db w-100 pv3 bg-animate bg-green hover-bg-dark-green white br2">View résumé</a>
            </div>
          </div>
        </article>
      </section>
      -->

      <!-- row 1 -->
      <h1 class="f2 fl w-100 mt0-ns lh-title">I'm Matt – a product designer.</h1>

      <!-- row 2 -->
      <span class="fl w-100 w-10-ns mt4 f3">🤓</span>
      <p class="lh-copy mid-gray fl w-100 w-90-ns mt4-ns">I have 4+ years of experience in UX, visual design, and code. I'm currently with the interactive team at <a class="isl-blue fw5 dim link-underline" href="https://isl.co/">ISL</a> making all sorts of digital experiences come to life.</p>

      <!-- row 3 -->
      <span class="fl w-100 w-10-ns mt4 f3 ">📁</span>
      <p class="lh-copy mid-gray fl w-100 w-90-ns mt4-ns">Case studies, articles, and general musings about product design are published to my <a class="medium-green fw5 dim link-underline" href="{{ "/writing/" | relative_url }}">blog</a>. My visual and UI work can be found over on <a class="dribbble-pink fw5 dim link-underline" href="https://dribbble.com/mattchewtaylor">Dribbble</a>. If you'd like to see more, feel free to <a class="github-grey fw5 dim link-underline" href="mailto:matthewbehantaylor@gmail.com">drop me a line</a>.</p>

      <h1 class="f3 fl w-100 mt4 lh-title">Other tidbits.</h1>

      <!-- row 4 -->
      <span class="fl w-100 w-10-ns mt4 f3">📐</span>
      <p class="lh-copy mid-gray fl w-100 w-90-ns mt4-ns">Traditionally trained in graphic design, my first job out of college was a UI design gig at <a class="illustria-red fw5 dim link-underline" href="http://www.illustriadesigns.com/" >Illustria</a>, creating visual idenitites for brands such as Alaska Airlines, Symphony Commerce, and Jack Links. I later moved into a UX centered role for <a class="fundrise-orange fw5 dim link-underline" href="https://fundrise.com/">Fundrise</a> - making the world of private market real estate investing more accesible, empowering, and enjoyable. On the side, I'm learning to build products of my own over at <a class="pip-purple fw5 dim link-underline" href="https://pixelsinprogress.co/">Pixels in Progress</a></p>

      <!-- row 5 -->
      <span class="fl w-100 w-10-ns mt4 f3">💻</span>
      <p class="lh-copy mid-gray fl w-100 w-90-ns mt4-ns">I practice code wherever and whenever I can. It started as a need to prototype my ideas in the browser but quickly blossomed into a primary interest and hobby. Don't look at my <a class="github-grey fw5 dim link-underline" href="https://github.com/mattchewtaylor">GitHub</a>, though – I'm self conscious.</p>

      <!-- row 6 -->
      <span class="fl w-100 w-10-ns mt4 f3">🏂</span>
      <p class="lh-copy mid-gray fl w-100 w-90-ns mt4-ns">When I'm not doing the design thing, I'm usually planning my next snowboarding trip, flying my drone, or getting into trouble with my best friend and partner in crime – <a class="instagram-purple fw5 dim link-underline" href="https://www.instagram.com/p/BR_hG_tlC93/?taken-by=mattchewtaylor">Remi</a>.</p>

      <!-- row 7
      <p class="tc lh-copy mid-gray fl w-100 mt4">🏛️ DC → ⛰️ CO</p>
      -->

      <div class="cf"></div>
    </div>
  </div>
</div>
